body{
	background-color:#333438 !important;
}
.container-fluid{
	background-color: #333438;
	width: 100%;
}

.filler{
	height: 20%;
}

.game-container{
	background-color:grey;
	position: absolute;
	top: 50%;
	left: 30%;
}

.circle{
    position: absolute;
    border: 50px solid #000;
    display: inline-block;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    top: 0;
    left: 0;
    border-color: transparent;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.red{ 
	border-top-color:#f4424b; 
	left: 20px;
}

.blue{ 
	border-right-color:#2d85e2; 
	top: 20px; 
	left: 20px;
}

.yellow{ 
	border-bottom-color:#ecef2b; 
	top: 20px; 
}

.green{ 
	border-left-color:#31e05a; 
}